.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);

  .navbar-nav li a{
    color:@primary-color;
    &:hover{
      color: darken(@primary-color, 15%);
    }
    &:active{
      color: lighten(@primary-color, 15%);
    }

  }

  label{
    font-weight: normal;
    margin-right: 10px;
  }

}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}


.navbar-inverse .navbar-toggle {
  border-color: @primary-color;

  & .icon-bar{
    background-color: @primary-color;
  }


  &:hover{
    background-color: @primary-color;

    & .icon-bar{
      background-color: white;
    }
  }

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border: none;
}



.navbar-brand,
.navbar-nav > li > a {
  color: @primary-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

.navbar-inverse {
  background: white;
  box-shadow: none;
  border-bottom: none;

  .navbar-brand,
  .navbar-nav > li > a {
    color: @primary-color;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);

    &:active{
      color: lighten(@primary-color, 7%);
    }

    &:hover{
      color: darken(@primary-color, 15%);
    }
  }

  .navbar-brand:hover, .navbar-brand:focus{
    color: lighten(@primary-color, 7%);
  }


}


.navbar-inverse .navbar-nav > .active > a {
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}


