.banner{

  .container{
    position: relative;
  }

  & > div{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
    background-color: white;
  }

  .top{
    position:absolute;
    top: 40%;
    right: 15%;
    font-size: 30px;
    background: @primary-color;
    color: @white;
    padding: 15px;
  }

  .bottom{
    background-color:@gray-banner;
    color:@white;
    position:absolute;
    top: 60%;
    right: 15px;
    font-size: 24px;
    padding: 15px;
  }
}

.navbar-default {

  border-radius: 0px;

  .navbar-nav li a{
    color:@font-color;
    &:hover{
      color: darken(@primary-color, 15%);
    }
    &:active{
      color: lighten(@primary-color, 15%);
    }

  }

  label{
    font-weight: normal;
    margin-right: 10px;
  }

}
.navbar-default .navbar-nav > .active > a {
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}


.navbar-inverse{

  padding: 5px 0;

  .navbar-toggle {
    margin-top: 25px;
    border-color: @primary-color;

    & .icon-bar{
      background-color: @primary-color;
    }


    &:hover{
      background-color: @primary-color;

      & .icon-bar{
        background-color: white;
      }
    }
  }



}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border: none;
}

.navbar-brand{
  float: left;

  img{
    height: 60px;
    display: inline-block;
  }
}

.navbar-brand,
.navbar-nav > li > a {
  font-size: 16px;
}

.navbar-inverse {
  background: white;
  box-shadow: none;
  border-bottom: none;

  .brand,
  .navbar-nav > li > a {
    margin-top: 20px;
    border-top: 0px @font-color solid;
    color: @font-color;
    -webkit-transition: margin-top .2s, padding-top .2s, border-top .2s;
    -moz-transition: margin-top .2s, padding-top .2s, border-top .2s;
    -ms-transition: margin-top .2s, padding-top .2s, border-top .2s;
    -o-transition: margin-top .2s, padding-top .2s, border-top .2s;
    transition: margin-top .2s, padding-top .2s, border-top .2s;

    &:active{
      border-top: 4px @font-color solid;
      padding-top: 11px;
      color: @font-color;
    }

    &:hover{
      border-top: 4px @font-color solid;
      padding-top: 11px;
      color: @font-color;
    }
  }

}


.navbar-inverse .navbar-nav > .active > a {
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}


